<!DOCTYPE html>
<html lang="en">
<head>
    {% block head %}
    <link rel="stylesheet" href="css/common.css" />
    <title>{% block title %}rustpodcasts{% endblock title %}</title>
    <meta charset="UTF-8">
    <meta name="keywords" content="HTML, CSS, Rust, podcasts">
    <meta name="description" content="Collection of Rust language podcasts">
    <meta name="author" content="Manuel Valladares">

    <link rel="apple-touch-icon" sizes="57x57" href="images/favicons/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="images/favicons/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="images/favicons/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="images/favicons/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="images/favicons/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="images/favicons/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="images/favicons/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="images/favicons/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="images/favicons/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192"  href="images/favicons/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="images/favicons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="images/favicons/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="images/favicons/favicon-16x16.png">
    <link rel="manifest" href="/manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="images/favicons/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">

    <link rel="stylesheet" type="text/css" href="css/common.css" />
    {% endblock head %}
</head>
<body>
    <header>
        {% block header %}
        <div id="header-content">
            <div id="title-row">
                <div><img src="images/ferrispodcast-small.png" alt="Ferris Logo" id="ferris-logo"/></div>
                <h1>Rust Podcasts</h1>
            </div>
            <h2>
                Explore the world of the Rust programming language through these informative and entertaining podcasts<br/>
                Learn more about the Rust language at <a href="https://www.rust-lang.org/" id="link-rust">rust-lang.org</a>
            </h2>
            <nav id="navigation">
                <a {% if page_id != "index" %} href="/index.html" {% else %} class="navitem-selected" {% endif %} >Main</a>
                <a {% if page_id != "channels" %} href="/channels.html" {% else %} class="navitem-selected" {% endif %}>Channels</a>
                <a {% if page_id != "episodes" %} href="/episodes.html" {% else %} class="navitem-selected" {% endif %}>Episodes</a>
                {# <a href="#search">Search</a> #}
                <a {% if page_id != "about" %} href="/about.html" {% else %} class="navitem-selected" {% endif %}>About</a>
            </nav>
        </div>
        <div id="header-image">
        </div>
        {% endblock header %}
    </header>
    <section id="content">
        {% block content %}
        {% endblock content %}
    </section>
    <footer>
        <hr/>
        {% block footer %}
        <h4>Disclaimer</h4>
        <p>
            rustpodcasts is not affiliated with the official Rust programming language project.
        </p>
        <p>
            The content of the podcasts listed on this website belongs to their respective creators.<br/>
            We do not endorse or take responsibility for the accuracy of the content shared in the podcasts.
        </p>
        <p>
            ©2023 rustpodcasts
        </p>
        {% endblock footer %}
    </footer>
</body>
</html>
