{% extends "base.html" %}

{% block title %}Error rustpodcasts{% endblock title %}
{% block head %}
    {{ super() }}
    <style>
        #content {
          display: flex;
          justify-content: space-between;
          flex-wrap: wrap;
        }
    
        .left-section,
        .right-section {
          width: 48%;
          padding: 10px;
        }
    
        .section-title {
          font-size: 24px;
          font-weight: bold;
          margin-bottom: 10px;
        }
    
        .item {
          width: 100%;
          height: 200px;
          margin-bottom: 10px;
          border: 1px solid #ccc;
          text-align: center;
          vertical-align: middle;
          position: relative;
          padding-left: 40px;
          border-radius: 5px;
          overflow: hidden;
        }
    
        .item img {
          position: absolute;
          top: 50%;
          left: 10px;
          transform: translateY(-50%);
          width: 50px;
          height: 50    px;
        }
    </style>
{% endblock head %}

{% block header %}
    {{ super() }}
{% endblock header %}

{% block content %}
    <h2>Error showing the content of Rust Podcasts</H2>
    <h3>Sorry for the inconveniences</h3>
    <p>Please, try again later</p>
{% endblock content %}
