{% extends "base.html" %}

{% block title %}Main page rustpodcasts{% endblock title %}
{% block head %}
    {{ super() }}
    <style>
        #content {
          display: flex;
          justify-content: space-between;
          flex-wrap: wrap;
        }
    
        .left-section,
        .right-section {
          width: 48%;
          padding: 10px;
        }
    
        .section-title {
          font-size: 24px;
          font-weight: bold;
          margin-bottom: 10px;
        }
    
        .item {
          width: 100%;
          height: 200px;
          margin-bottom: 10px;
          border: 1px solid #ccc;
          text-align: center;
          vertical-align: middle;
          position: relative;
          padding-left: 40px;
          border-radius: 5px;
          overflow: hidden;
        }
    
        .item img {
          position: absolute;
          top: 50%;
          left: 10px;
          transform: translateY(-50%);
          width: 50px;
          height: 50    px;
        }
    </style>
{% endblock head %}

{% block header %}
    {{ super() }}
{% endblock header %}

{% block content %}
    <div class="left-section">
        <h2 class="section-title">Latest Episodes</h2>
        {% for episode in last_episodes %}
        <div class="item episode">
            {% if episode.icon_path %}
                {% set icon_path = episode.icon_path %}
            {% elif episode.channel_icon_path %}
                {% set icon_path = episode.channel_icon_path %}
            {% else %}
                {% set icon_path = "images/default_icon.png" %}
            {% endif %}
            <img src="{{icon_path}}" alt="Icon {{episode.title}}">
            <div class="episode_description">
                <h3>{{episode.title}}</h3>
                {% if episode.guest %}
                <h4>Guests: {{episode.guest}}</h4>
                {% endif %}
                <p>{{episode.description_summary}}</p>
            </div>
            <div class="episode_data">
                {% if episode.channel_name != "-" %}
                    <span>From: {{episode.channel_name}}</p>
                {% endif %}
                <span>Published: {{episode.date_published}}</span>
                <span>Duration: {{episode.duration}}</span>
                <span>Language: {{episode.lang}}</span>
                <span>Link: <a href="{{episode.url}}">{{episode.url}}</a></span>
            </div>
        </div>
        {% endfor %}
    </div>
    <div class="right-section">
    <h2 class="section-title">Main Channels</h2>
    <div class="item">
      <img src="path/to/icon5.png" alt="Icon 5">
      Item 5
    </div>
    <div class="item">
      <img src="path/to/icon6.png" alt="Icon 6">
      Item 6
    </div>
    <!-- Add more items for the right section -->
    </div>
{% endblock content %}
