{% extends "base.html" %}

{% block title %}About rustpodcasts{% endblock title %}
{% block head %}
    {{ super() }}
{% endblock head %}

{% block header %}
    {{ super() }}
{% endblock header %}

{% block content %}
    <section id="about-welcome" class="about-section">
        <h2>About</h2>
        <p>Welcome to rustpodcasts, your ultimate resource for Rust programming language podcasts.</p>
        <p>
        Our mission is to provide a curated collection of insightful podcasts that delve into the world of Rust, catering to beginners and experienced developers alike.<br/>
        Immerse yourself in the Rust community, stay updated on the latest trends, and level up your programming skills.
        </p>
    </section>
    <section id="about-help" class="about-section">
        <h2>Help us grow</h2>
        <p>
        If you have a favorite podcast to recommend, let us know at rustpodcasts@gmail.com<br/>
        Spread the word by sharing our website with fellow Rustaceans.
        </p>
    </section>
    <section id="about-contact" class="about-section">
        <h2>Contact us</h2>
        <ul>
            <li><img src="images/sites/email-64.png" alt="email logo" class="contact-logo" /> email: rustpodcasts@gmail.com</li>
            <li><img src="images/sites/x-logo-small.png" alt="twitter logo" class="contact-logo" /> X, Twitter: @rustpodcasts</li>
        </ul>
    </section>
    <section id="about-code" class="about-section">
        <h2>Code</h2>
        <p>
        This website is open source and available on github at <a href="https://github.com/mavallad/rustpodcasts">https://github.com/mavallad/rustpodcasts</a>.
        </p>
        <p>
        The following technology has been used:
        <ul>
            <li>Shuttle: deployment infrastructure for Rust (<a href="https://www.shuttle.rs/">https://www.shuttle.rs</a>).
                Thanks a lot for the great work and the free tier!
            </li>
            <li>PostgreSQL: relational database system (<a href="https://www.postgresql.org/">https://www.postgresql.org</a>)</li>
            <li>Actix-web: web framework for Rust (<a href="https://actix.rs/">https://actix.rs</a>)</li>
        </ul>
        Thanks to all the authors and contributors of these projects and the rest of the libraries used to build this website!
        </p>
        <p>
        If you have improvements to suggest, please open a pull request on github or send an email.
        </p>
    </section>
{% endblock content %}
