<!DOCTYPE html>
<html lang="en">
<head>
    {% block head %}
    <link rel="stylesheet" href="css/common.css" />
    <title>{% block title %}rustpodcasts{% endblock title %}</title>
    <meta charset="UTF-8">
    <meta name="keywords" content="HTML, CSS, Rust, podcasts">
    <meta name="description" content="Collection of Rust language podcasts">
    <meta name="author" content="Manuel Valladares">

    <link rel="stylesheet" type="text/css" href="common.css" />
    {% endblock head %}
</head>
<body>
    <div id="header">
        {% block header %}
        <h1 class="title">Rust Podcasts</h1>
        </div>
            <div class="description">
                <p>Explore the world of Rust programming language through these informative and entertaining podcasts.</p>
            </div>
        <div class="menu">
            {{ page == "index" ? "active" : "" }}
            <a href="/index.html">
                Main
            </a>
            <a href="#channels">All Channels</a>
            <a href="#episodes">All Episodes</a>
            <a href="#search">Search</a>
            <a href="#about">About</a>
        </div>
        {% endblock header %}
    </div>
    <div id="content">
        {% block content %}
        {% endblock content %}
    </div>
    <div id="footer">
        {% block footer %}
        {% endblock footer %}
    </div>
</body>
</html>
