<!DOCTYPE html>
<html lang="en">
<head>
    {% block head %}
    <link rel="stylesheet" href="css/common.css" />
    <title>{% block title %}rustpodcasts{% endblock title %}</title>
    <meta charset="UTF-8">
    <meta name="keywords" content="HTML, CSS, Rust, podcasts">
    <meta name="description" content="Collection of Rust language podcasts">
    <meta name="author" content="Manuel Valladares">

    <link rel="stylesheet" type="text/css" href="css/common.css" />
    {% endblock head %}
</head>
<body>
    <header>
        {% block header %}
        <div id="header-content">
            <div id="title-row">
                <div><img src="images/ferrispodcast-small.png" alt="Ferris Logo" id="ferris-logo"/></div>
                <h1>Rust Podcasts</h1>
            </div>
            <h2>
                Explore the world of the Rust programming language through these informative and entertaining podcasts<br/>
                Learn more about the Rust language at <a href="https://www.rust-lang.org/" id="link-rust">rust-lang.org</a>
            </h2>
            <nav id="navigation">
                <a {% if page_id != "index" %} href="/index.html" {% else %} class="navitem-selected" {% endif %} >Main</a>
                <a {% if page_id != "channels" %} href="/channels.html" {% else %} class="navitem-selected" {% endif %}>Channels</a>
                <a {% if page_id != "episodes" %} href="/episodes.html" {% else %} class="navitem-selected" {% endif %}>Episodes</a>
                {# <a href="#search">Search</a> #}
                <a {% if page_id != "about" %} href="/about.html" {% else %} class="navitem-selected" {% endif %}>About</a>
            </nav>
        </div>
        <div id="header-image">
        </div>
        {% endblock header %}
    </header>
    <section id="content">
        {% block content %}
        {% endblock content %}
    </section>
    <footer>
        {% block footer %}
        {% endblock footer %}
    </footer>
</body>
</html>
