{% extends "base.html" %}

{% block title %}Channels page rustpodcasts{% endblock title %}

{% block head %}
    {{ super() }}
{% endblock head %}

{% block header %}
    {{ super() }}
{% endblock header %}

{% block content %}
<section id="rust-podcasts">
    <h2 class="section-title">Rust Specific Podcasts</h2>
    {% for channel in rust_channels %}
    <div class="item-new-channel">
        <div class="image-description-new-channel">
            {% if channel.icon_path %}
                {% set icon_path = channel.icon_path %}
            {% else %}
                {% set icon_path = "images/default_icon.png" %}
            {% endif %}
            <div class="channel-image">
                <img src="{{icon_path}}" alt="Icon {{channel.name}}">
            </div>
            <div class="description-new-channel">
                <h3>{{channel.name}}</h3>
                <p>{{channel.description}}</p>
            </div>
        </div>
        <div class="data-new-channel">
            {% if channel.hosts %}
            <div class="channel-hosts">
                Host: {{channel.hosts}}
            </div>
            {% endif %}
            <div class="channel-url">
                <img alt="World icon" src="images/captive_portal.png" class="icon-square" /> <a href="{{channel.url}}">{{channel.url}}</a>
            </div>
            {% if not channel.active %}
            <div class='inactive'>INACTIVE</div>
            {% endif %}
            <div class="channel-last-episode">
                Last publication: <img alt="Listen icon" src="images/text_to_speech.png" class="icon-square" />
                <a href="{{channel.last_episode_url}}" >{{channel.last_episode_title}}</a>
            </div>
            <div class="channel-data-row">
                <span>
                    <img alt="Number icon" src="images/numbers.png" class="icon-square" />
                    {{channel.total_episodes}}
                    {% if channel.total_episodes > 1 %}episodes{% else %}episode{% endif %}
                </span>
                <span><img alt="Calendar icon" src="images/calendar_month.png" class="icon-square" /> {{channel.last_episode_date_published}}</span>
                <span><img alt="Language icon" class="image-lang" src="images/languages/{{channel.lang}}.svg"></span>
            </div>
        </div>
    </div>
    {% endfor %}
</section>
<section id="non-rust-podcasts">
    <h2 class="section-title">General Podcasts</h2>
    {% for channel in non_rust_channels %}
    <div class="item-new-channel">
        <div class="image-description-new-channel">
            {% if channel.icon_path %}
                {% set icon_path = channel.icon_path %}
            {% else %}
                {% set icon_path = "images/default_icon.png" %}
            {% endif %}
            <div class="channel-image">
                <img src="{{icon_path}}" alt="Icon {{channel.name}}">
            </div>
            <div class="description-new-channel">
                <h3>{{channel.name}}</h3>
                <p>{{channel.description}}</p>
            </div>
        </div>
        <div class="data-new-channel">
          {% if channel.hosts %}
          <div class="channel-hosts">
            Host: {{channel.hosts}}
          </div>
          {% endif %}
          <div class="channel-url">
            <img alt="World icon" src="images/captive_portal.png" class="icon-square" /> <a href="{{channel.url}}">{{channel.url}}</a>
          </div>
          <div class="channel-last-episode">
              Last Rust related publication: <img alt="Listen icon" src="images/text_to_speech.png" class="icon-square" />
              <a href="{{channel.last_episode_url}}" >{{channel.last_episode_title}}</a>
          </div>
          <div class="channel-data-row">
            <span><img alt="Number icon" src="images/numbers.png" class="icon-square" />
                {{channel.total_episodes}}
                {% if channel.total_episodes > 1 %}episodes{% else %}episode{% endif %}
            </span>
            <span><img alt="Calendar icon" src="images/calendar_month.png" class="icon-square" /> {{channel.last_episode_date_published}}</span>
            <span><img alt="Language icon" class="image-lang" src="images/languages/{{channel.lang}}.svg"></span>
          </div>
        </div>
    </div>
    {% endfor %}
</section>
{% endblock content %}